<h1 class="title">Cat news</h1>

<table class="table table-striped table-responsive-md">
  <thead class="orange">
    <tr>
      <th scope="col">#</th>
      <th scope="col">img</th>
      <th scope="col" sortable="fact">Cat Fact</th>
      <th scope="col" sortable="length">Length</th>
      <th scope="col">Details</th>
    </tr>
  </thead>
  <tbody>
      <tr *ngFor="let fact of catsFacts; let i = index">
        <th scope="row">{{ i }}</th>
        <td class="img-width">
          <img
            [src]="imageSource + i"
            [alt]="'The' + i +'° cat'"
            class="me-2"
            style="width: 50px"
          />
        </td>
        <td class="text-truncate"> {{fact.fact}}</td>
        <td>{{fact.length}}</td>
        <td>
          <button [routerLink]="['/dettaglio/', i]" [relativeTo]="fact">details</button>
        </td>
      </tr>
  </tbody>
</table>



<!--
  <tr>
    <td colspan="4" style="text-align: center">No facts found</td>
  </tr>

  <nz-table #fixedTable [nzData]="catsFacts" nzTableLayout="fixed">
  <thead>
    <tr>
      <th>Index</th>
      <th nzEllipsis>Cat Fact</th>
      <th>Length</th>
      <th>Dettaglio</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let data of fixedTable.data; let i = index">
      <td>{{ i }}</td>
      <td nzEllipsis>{{ data.fact }}</td>
      <td nzEllipsis>{{ data.length }}</td>
      <td>
        <button [routerLink]="['/dettaglio/' + i]">dettaglio</button>
    </td>
    </tr>
  </tbody>
</nz-table>

  <table>
  <tr *ngFor="let fact of catsFacts; let i = index">
    <td>{{fact.fact}}</td><td>{{fact.length}}</td>
    <td>
        <button [routerLink]="['/dettaglio/' + i]">dettaglio</button>
    </td>
  </tr>
</table>
-->
